{{# @format false #}}
<section class="hero">
  <div class="max-w-3xl mx-auto">
    <a class="text-xs text-cream/75 hover:text-white" href="/">
      &larr;
      {{ 'Home' | trans }}
    </a>
  </div>
  <div class="overflow-hidden mx-auto flex max-w-3xl flex-wrap gap-8 pt-12">
    <div class="w-full">
      <div class="stack-2">
        <h1 class="text-white text-6xl font-bold">{{ title }}</h1>
        <p class="text-lg text-cream/75">{{ description }}</p>
        <div class="flex flex-wrap gap-x-4 gap-y-2">
          {{ tools }}
            <div class="flex shrink-0 items-center gap-1">
              {{ svg src="{{ name | lower }}" class="{{ ['shrink-0 fill-cream/75', 'size-6' => !width] | classes }}" style="{{ width ?= 'width: {{ width }}' }}" }}
              {{ unless icon_only }}
                <span class="text-sm">{{ name }}</span>
              {{ /unless }}
            </div>
          {{ /tools }}
        </div>
      </div>
      {{# {{ if hero:meta }}
        <dl class="mt-4 text-xs">
          {{ hero:meta }}
            <div
              class="flex justify-between gap-4 border-b border-dashed border-white/25 py-1"
              style="--delay: {{ count / 10 }}s"
            >
              <dt class="text-cream">{{ label }}</dt>
              <dd class="text-cream/75 text-right">
                {{ if label == 'Email' }}
                  <a
                    class="underline"
                    href="mailto:{{ value | obfuscate_email }}"
                    onclick="
                      event.preventDefault(); 
                      navigator
                        .clipboard
                        .writeText('{{ value | remove_left('mailto:') | obfuscate_email }}')
                        .then(() => alert('My email address is copied to your clipboard!'))"
                  >
                    {{ value | obfuscate_email }}
                  </a>
                {{ else }}
                  {{ value }}
                {{ /if }}
              </dd>
            </div>
          {{ /hero:meta }}
        </dl>
      {{ /if }} #}}
    </div>
    <div class="w-full">
      {{ partial:statamic-peak-tools::components/picture 
        :image="thumbnail"
        class="border border-white/20 w-full"
        cover="false"
        lazy="true" 
        sizes="(min-width: 1280px) 960px, (min-width: 768px) 75vw, 90vw"
      }}
    </div>
  </div>
</section>