<section class="border-cream/10 bg-cream mx-auto grid max-w-3xl border p-10">
  <h2 class="text-forest mb-4 text-sm font-bold tracking-tight uppercase">
    {{ 'Tech Stack' | trans }}
  </h2>
  <div class="flex items-center justify-between">
    <div class="w-1/6">
      <img
        class="h-full w-full object-contain object-center p-1.5"
        src="/images/laravel-logo.png"
        alt=""
      />
    </div>
    <div class="w-1/6">
      <img
        class="h-full w-full object-contain object-center"
        src="/images/livewire-logo.png"
        alt=""
      />
    </div>
    <span class="text-center text-xl text-[#e2bf00]">//</span>
    <div class="w-1/6">
      <img
        class="h-full w-full object-contain object-center p-1"
        src="/images/typescript-logo.png"
        alt=""
      />
    </div>
    <div class="w-1/6">
      <img
        class="h-full w-full object-contain object-center p-2.5"
        src="/images/react-logo.png"
        alt=""
      />
    </div>
    <span class="text-center text-xl text-[#e2bf00]">//</span>
    <div class="w-1/6">
      <img
        class="h-full w-full object-contain object-center"
        src="/images/tailwindcss-logo.png"
        alt=""
      />
    </div>
  </div>
</section>
