{{#
  @name Footer
  @desc The sites footer rendered on each page.
#}}

<!-- /layout/_footer.antlers.html -->
<footer class="footer mt-2 p-4">
  <div
    class="mx-auto flex max-w-3xl flex-col gap-4 md:flex-row md:items-center md:justify-between"
  >
    <div
      class="text-cream/75 flex flex-col gap-4 text-xs font-bold md:flex-row"
    >
      <span>
        &copy; {{ configuration:copyright_since }}
        {{ unless (now | format('Y')) == configuration:copyright_since }}
          - {{ now | format('Y') }}
        {{ /unless }}
        {{ configuration:copyright_name ?? config:app:name }}
      </span>

      {{# Let's users reset consent when you use the consent banner. #}}
      {{ yield:reset_consent }}
    </div>
    {{ if social_media:social_media }}
      <div class="flex gap-x-2">
        {{ social_media:social_media }}
          <a
            class="text-neutral"
            href="{{ prefix }}{{ handle }}"
            rel="noopener{{ type == 'mastodon' ?= ' me' }}"
            aria-label="{{ config:app:name }} {{ trans:strings.on }} {{ type | title }}"
            target="_blank"
          >
            {{ svg :src="type" attr:class="w-3 h-3 overflow-visible fill-current" attr:alt="" attr:aria-hidden="true" }}
          </a>
        {{ /social_media:social_media }}
      </div>
    {{ /if }}
  </div>
</footer>
<!-- End: /layout/_footer.antlers.html -->
